<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="EnerateCustomXPathFunctions"
         name="EnerateXPath"
         point="org.eclipse.jet.xpathFunctions">
      <function
            implementation="com.github.enerate.xpath.UnderscoreFunction"
            maxArgs="1"
            minArgs="1"
            name="underscore">
      </function>
      <function
            implementation="com.github.enerate.xpath.AnnotationWrapFunction"
            maxArgs="3"
            minArgs="2"
            name="wrap">
      </function>
      <function
            implementation="com.github.enerate.xpath.JavaKeywordFunction"
            maxArgs="1"
            minArgs="1"
            name="javaKeyword">
      </function>
      <function
            implementation="com.github.enerate.xpath.SQLKeywordFunction"
            maxArgs="1"
            minArgs="1"
            name="sqlKeyword">
      </function>
      <function
            implementation="com.github.enerate.xpath.TestCaseFunction"
            maxArgs="1"
            minArgs="1"
            name="testcase">
      </function>
   </extension>

</plugin>
