<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jet.tagLibraries">
      <tagLibrary
            id="tagLibrary"
            name="EnerateTagLibrary"
            standardPrefix="en">
         <functionTag
               class="com.github.enerate.tag.WrapTag"
               name="wrap"
               whenContainingLineIsEmpty="preserve">
            <description>
               Wraps the contents of the tag accordings to the given line length, optionally padding the start of new lines with white space to the given depth.
            </description>
            <attribute
                  name="wrapLength"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  name="linePrefix"
                  type="string"
                  use="optional">
            </attribute>
         </functionTag>
         <emptyTag
               class="com.github.enerate.tag.GetRooTag"
               name="getRoo"
               whenContainingLineIsEmpty="preserve">
            <attribute
                  name="select"
                  type="xpath"
                  use="required">
               <description>
                  The XPath expression to evaluate.
               </description>
            </attribute>
            <attribute
                  name="default"
                  type="string"
                  use="optional">
               <description>
                  The value to write, if the XPath expression selects no objects.
               </description>
            </attribute>
            <attribute
                  name="ignoreCase"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  name="avoid"
                  type="string"
                  use="required">
               <description>
                  Comma delimited list of either: java, sql, test
               </description>
            </attribute>
         </emptyTag>
      </tagLibrary>
   </extension>

</plugin>
